@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
https://andy-bell.co.uk/a-modern-css-reset/
*/

:root {
  --min-col-size: 25rem;
}

@font-face {
  font-family: "Caveat";
  src: url("./assets/fonts/Caveat.ttf") format("truetype");
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript.ttf") format("truetype");
}

@font-face {
  font-family: "Valencia";
  src: url("./assets/fonts/Valencia.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("truetype");
}

:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --ff-secondary: Bungee, cursive;
  --ff-accent: Dancing Script, cursive;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-gradient {
  font-family: Valencia;
  /* font-family: "Dancing Script"; */
  letter-spacing: 2px;
  /* font-size: 4rem; */
  /* font-style: normal;
  font-weight: lighter;
  line-height: normal; */
  color: aliceblue;
  /* background: linear-gradient(
    94deg,
    #2ff8e0 -0.53%,
    #2f56f8 46.34%,
    #c42ff8 99.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* Webkit scrollbar */
textarea::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
